#innerForm {
    display: flex;
    margin: 0;
    border: 4px solid #EEE4E7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #64472C;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rating {
    display: flex;
    justify-content: center;
}

#ratingLabels {
    font-size: 30px;
}

#fname {
    font-size: 25px;
}

#lname {
    font-size: 25px;
}

#comment {
    font-size: 15px;
}