h2 {
    text-align: center;
    font-size: 25px;
}

#spiders{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#spiders img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

#spiders h3 {
    text-align: center;
}

#spiders p{
    text-align: center;
}